{% extends 'base.html.twig' %}

{% block title %}New Patient{% endblock %}

{% block body %}
    <br>
    <div class="container-fluid dashboard-div">
        <div class="row top-actions">
            <div class="col-8 top-header">
                <h4>Créer Patient</h4>
            </div>
        </div>
        <br>
        {{ include('patient/_form.html.twig') }}

        <a class="btn btn-danger" href="{{ path('patient_index') }}"><i class="fas fa-chevron-circle-left"></i></a>
    </div>
{% endblock %}
