{% extends 'base.html.twig' %}

{% block title %}Edit Specialite
{% endblock %}

{% block body %}
	<h1>Edit Specialite</h1>
	<div class="container-fluid">
		<div class="row top-actions">
			<div class="col-8 top-header">
				<h4>Editer Specialite</h4>
			</div>

		</div>

		{{ include('specialite/_form.html.twig', {'button_label': 'Editer'}) }}

        <a class="btn btn-danger" href="{{ path('specialite_index') }}"><i class="fas fa-chevron-circle-left"></i></a>


	</div>
{% endblock %}
