{% extends 'base.html.twig' %}

{% block title %}New Consultation{% endblock %}

{% block body %}
    <h1>Créer une Consultation</h1>

    {{ include('consultation/_form.html.twig') }}
    <br>
    <a  class="btn btn-secondary" href="{{ path('consultation_index') }}">Annuler</a>

{% endblock %}
