{% extends 'base.html.twig' %}

{% block title %}New Consultation{% endblock %}

{% block body %}
    <h1>Créer une Consultation</h1>

    {{ include('consultation/_form.html.twig') }}
    <br>
    <a  class="btn btn-danger" href="{{ path('consultation_index') }}"><i class="fas fa-chevron-circle-left"></i></a>

{% endblock %}
