{% extends 'base.html.twig' %}

{% block title %}Editer Utilisateur{% endblock %}

{% block body %}
    <br>
    <div class="row top-actions">
        <div class="col-8 top-header">
            <h4>Editer Patient</h4>
        </div>

    </div>
    <br>
    {{ include('utilisateur/_form.html.twig', {'button_label': 'Editer'}) }}

    <a class="btn btn-secondary" href="{{ path('utilisateur_index') }}">Annuler</a>

    {{ include('utilisateur/_delete_form.html.twig') }}
{% endblock %}
