{% extends 'base.html.twig' %}

{% block title %}New Utilisateur{% endblock %}

{% block body %}
    <div class="row top-actions">
        <div class="col-8 top-header">
            <h4>Create new Patient</h4>
        </div>
    </div>

    {{ include('utilisateur/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('utilisateur_index') }}">back to list</a>
{% endblock %}
